# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.vscode

# Test binary, build with `go test -c`
*.test
cloudfront-broker


test
cloudfront-broker


# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.env
*.env
*.sav

node_modules
.remarkrc
package-lock.json
package.json
.jira-prefix
cloudfront-broker-configmap.yaml
.vscode
