# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
cloudfront-broker


test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.env

*.sav

node_modules
.remarkrc
package-lock.json
package.json
.jira-prefix
.vscode